@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  background: #ecffeb;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 20px;
}

.Chats-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(#2396bf, #0d5b77 40%, #004961 3%, #004961);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(131, 233, 255, 0.3); */
}

.logo-header {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.logo-header img {
  height: 100%;
  width: 100%;
}

.chats-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.chats-search {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-box {
  outline-width: 0;
  border: none;
  font-size: 1rem;
  width: 100%;
  margin-left: 5px;
  color: #292929;
}

.chats-conversation {
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  flex: 1;
  overflow: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.chats-conversation::-webkit-scrollbar {
  display: none;
}

.conversationContainer {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 5px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
}

.convo-icon {
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  margin-right: 5px;
}

.convo-title {
  grid-area: 1/2/2/4;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 5px;
}

.convo-lastMessage {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 5px;
  margin-top: 5px;
}

.convo-timeStamp {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 5px;
}

.convo-title-two {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.convo-timeStamp-two {
  align-self: flex-start;
  justify-self: flex-end;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 5px;
}

.ActionPanel-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Action-header {
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Action-header-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
}

.Action-chat {
  flex: 1;
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 20px;
  overflow: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Action-chat::-webkit-scrollbar {
  display: none;
}

.Action-input {
  flex: 0.1;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.others-message-container {
  background-color: white;
}

.other-text-content {
  margin-top: 10px;
  border-radius: 20px;
  width: max-content;
  margin: 10px;
  background-color: #d9d9d9;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.self-message-container {
  display: flex;
  justify-content: flex-end;
}

.messageBox {
  display: flex;
  flex-direction: column;
  background-color: #caffc6;
  width: max-content;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.self-timeStamp {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 5px;
}

//LandingPanel
.Klogo {
}

.welcome-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 5px solid #006600;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}

.welcome-container img {
  width: 70%;
}

.createGroupsContainer {
  flex: 0.7;
  align-self: center;
  padding: 20px 10px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.login-container {
  height: 90vh;
  width: 90vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.loginBox {
  flex: 0.5;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}

.loginContent {
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginTitle {
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: lighter;
}

.loginFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.submit-button {
  margin-top: 30px;
  justify-items: center;
  align-self: center;
}

.imageContainer {
  position: relative;
  flex: 0.5;
  background-color: green;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  height: auto;
}

.bgOne {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url("../Assets/wallpaperOne.jpeg");
  background-size: auto 100%;
  animation: slideBackground 60s linear infinite;
}

@keyframes slideBackground {
  0% {
    transform: translateX(0); /* Start with the leftmost position */
  }
  100% {
    transform: translateX(-50%); /* Move to the rightmost position */
  }
}

.logo {
  position: absolute;
  top: 50%; /* Place the top edge of the logo at the vertical center of the container */
  left: 50%; /* Place the left edge of the logo at the horizontal center of the container */
  transform: translate(-50%, -50%); /* Adjust position to center the logo */
  z-index: 1; /* Ensure the logo is stacked on top of the background image */
  width: auto; /* Set width to auto for responsiveness */
  max-width: 60%; /* Limit maximum width of the logo */
  height: auto; /* Let the browser calculate height based on aspect ratio */
  max-height: 60%; /* Limit maximum height of the logo */
}

.userList-container {
  flex: 0.7;
}
